/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@font-face {
 font-family: "Intro";
 src: url(../fonts/Intro-Free/TTF/IntroDemoCond-LightCAPS.ttf) format('truetype');
 src: url(../fonts/Intro-Free/WEB/IntroDemoCond-LightCAPS.eot) format('eot');
 src: url(../fonts/Intro-Free/WEB/IntroDemoCond-LightCAPS.woff) format('woff');
 src: url(../fonts/Intro-Free/WEB/IntroDemoCond-LightCAPS.woff2) format('woff2');
/* font-weight: normal;
 font-style: normal;*/
}

@font-face {
 font-family: "Intro";
 src: url(../fonts/Intro-Free/WEB/IntroDemo-BlackCAPS.eot) format('eot');
 src: url(../fonts/Intro-Free/WEB/IntroDemo-BlackCAPS.woff) format('woff');
 src: url(../fonts/Intro-Free/WEB/IntroDemo-BlackCAPS.woff2) format('woff2');
 src: url(../fonts/Intro-Free/TTF/IntroDemo-BlackCAPS.ttf) format('truetype');
 font-weight: bold;
 /*font-style: normal;*/
}

/*@font-face {
 font-family: "Intro Cond";
 src: url(../fonts/Intro-Free/WEB/IntroDemoCond-BlackCAPS.eot) format('eot');
 src: url(../fonts/Intro-Free/WEB/IntroDemoCond-BlackCAPS.woff) format('woff'); 
 src: url(../fonts/Intro-Free/WEB/IntroDemoCond-BlackCAPS.woff2) format('woff2'); 
 src: url(../fonts/Intro-Free/TTF/IntroDemoCond-BlackCAPS.ttf) format('truetype');
 font-weight: bold;
 /*font-style: normal;*/
/*}*/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  /*font-family: 'Quicksand', sans-serif;*/
  font-family: "Open Sans";
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.container {
  width: 975px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

header {
  height: 650px;
  width: 100%;
  background: url(../img/header.png) no-repeat;
  background-size: cover; /* Современные браузеры */
  background-position: center;
}

header .header-top {
  background: rgba(184, 131, 137, 0.2);
  height: 50px;
  width: 100%;
  /*outline: 1px solid red;*/
  position: relative;
  z-index: 1;
}

header .logo {
  width: 90px;
  position: absolute;
  top: 20px;
}

header nav {
  position: absolute;
  right: 0;
  height: 100%;
}

header nav a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  margin-right: 12px;
  height: 100%;
  display: block;
  float: left;
  line-height: 5;
  padding: 0 10px;
}

header nav a.active {
  border-top: 1px solid #42bf24;
}

header nav a:last-child {
  margin-right: 0;
}
header .text {
  position: absolute;
  top: 175px;
  left: 290px;
  text-align: left;
  position: absolute;
}

header .hello {
  color: rgb(255, 150, 0);
  font-size: 24px;
}

header .welc {
  font-size: 48px;
  font-weight: bold;
  font-family: 'Intro', sans-serif;
  margin-bottom: -15px;
  margin-top: -15px;
}

header .I_am {
  font-size: 24px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
}

header .I_am_name {
  font-weight: bold;
}

header .I_am_UX {
  font-size: 24px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  margin-top: 50px;
  font-weight: lighter;
}

header .mouse {
  text-align: center;
  padding-top: 85px;
}

header .mouse-arrow {
  text-align: center;
}

header .mobile {
  display: none;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 0;
}

header .mobile img {
  display: none;
  position: absolute;
  height: 52px;
  top: 10px;
  right: 0px;
}

/*header .burger-ar {
  display: none;
}*/

header .burger-ar {
  display: none;
  height: 50px;
/*  position: absolute;
  z-index: 1;
  font-weight: bold;*/
}

#about {
  height: 800px;
  width: 100%;
  background: url(../img/about.png) no-repeat;
  background-color: #333333;
    /*background: rgba(108, 56, 0);*/
    /*-moz-background-size: 100%; /* Firefox 3.6+ */
    /*-webkit-background-size: 100%;  Safari 3.1+ и Chrome 4.0+ */
    /*-o-background-size: 100%; /* Opera 9.6+ */
    background-size: cover;  /*Современные браузеры */
    background-position: center;
}

#about .about-top {
  background: rgba(108, 56, 0);
  height: 105px;
  width: 100%;
  position: relative;
}

#about .about-top2 {
  text-align: center;
  background: rgba(225, 117, 1);
  height: 96px;
  width: 100%;
  position: relative;
  color: #fff;
}

#about .about-top3 div {
  font-size: 24px;
  font-weight: lighter;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#about .about-top3 span {
  font-weight: bold;
  font-size: 40px;
  margin-left: 40px;
}

.about-main {
  color: #fff;
  width: 100%;
  position: relative;
}

.about-main-left {
  top: 80px;
  left: 120px;
  width: 490px;
  position: absolute;
}

.about-main-left .ltl-intro {
  font-size: 30px;
  font-weight: lighter;
}
.about-main-left .ltl-intro span {
  font-size: 72px;
  font-weight: bold;
  margin-top: -30px;
  display: block;
}

.about-main-left .description {
  font-size: 18px;
  font-weight: lighter;
  width: 410px;
  padding-top: 45px;
  padding-bottom: 30px;
}
.about-main-left .quote {
  font-size: 44px;
  font-weight: bold;
}
.about-main-left .quote span {
  color: #00ff5a;
}

.about-main-left .author  {
  font-size: 14px;
  font-weight: lighter;
}

.about-main-right {
  top: 235px;
  width: 655px;
  right: 150px;
  float: right;
  text-align: right;
  position: absolute;
}
.about-main-right .quote2 {
  font-size: 36px;
  font-family: 'Intro';
  font-weight: bold;
}

.about-main-right .description2 {
  font-size: 18px;
  font-weight: lighter;
  width: 340px;
  float: right;
}

/* ===================================
  #main-slider - стили для слайдера
====================================== */
#main-slider {
  height: 620px;
}

#main-slider div {
  float: left;
  display: inline-block;
}

#main-slider .pref,
#main-slider .next {
  cursor: pointer;
  background: #cccccc;
  width: 60px;
  height: 80px;
  font-size: 53px;
  text-align: center;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: calc(50% - 40px);
  font-family: monospace;
}

#main-slider .pref {
  left: 0;  
}

#main-slider .next {
  right: 0;
}

#main-slider .image {
  width: 100%;
}

#main-slider .image img {
  display: block;
  margin: 0 auto;
  height: -webkit-fill-available;
  width: 94%;
}

#slides ul {
  list-style: none;
  /*margin: 0;*/
  padding: 0 0 0 89px;
}

#slides ul li {
  width: 136px;
  height: 100px;
  float: left;
  margin: 0 10px;
    -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
       -o-filter: blur(5px);
      -ms-filter: blur(5px);
  filter: blur(1px);
}

#slides ul li.active {
  width: 132px;
  height: 96px;
  border: 2px solid #e67171;
  filter: blur(0px);
}

#slides ul li img {
  width: 100%;
  height: 100%;
}

#full-img {
  display: none;
  width: 80%;
  height:80%;
  position: fixed;
  top: 10%;
  left: 10%;
  background: #000;
}

#full-img img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

#opacity {
  display: none;
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.7;
}

html {
  position: relative;
}

/* ==========================================================================
  RESPONSIVE Design
========================================================================== */

@media (max-width: 1024px) {
  .container {
    width: 100%;
  }

  header {
    width: 100%;
  }

  header .text {
    top: 190px;
    left: 90px;
  }

  #about {
    height: 755px;
  }

  .about-main-left {
    top: 100px;
    left: 70px;
    width: 390px;
  }

  .about-main-left .description {
    font-size: 14px;
    width: 315px;
    padding-top: 40px;
  }

  .about-main-left .quote {
    font-size: 32px;
  }

  .about-main-left .author  {
    font-size: 12px;
    font-weight: lighter;
  }

  .about-main-right {
    top: 250px;
    width: 420px;
    right: 80px;
  }
  .about-main-right .quote2 {
    font-size: 24px;
    font-family: 'Intro';
    font-weight: bold;
  }

  .about-main-right .description2 {
    font-size: 14px;
    width: 265px;
    padding-top: 10px;
  }
}

@media (max-width: 900px) {
  .container {
    width: 100%;
  }

  header .text {
    left: 60px;
    width: 225px;
  }

  header .hello {
    font-size: 18px;
  }

  header .welc {
    font-size: 36px;
  }

  header .I_am {
    font-size: 18px;
  }

  header .I_am_UX {
    font-size: 18px;
  }

  #about .about-top3 div {
    left: 45%;
  }

  .about-main-left {
    left: 35px;
    width: 260px;
  }

  .about-main-left .ltl-intro {
    font-size: 20px;
  }

  .about-main-left .description {
    font-size: 12px;
    width: 225px;
    padding-top: 40px;
  }

  .about-main-left .quote {
    font-size: 20px;
  }

  .about-main-left .author  {
    font-size: 10px;
  }

  .about-main-right {
    top: 235px;
    width: 330px;
    right: 40px;
  }
  .about-main-right .quote2 {
    font-size: 20px;
  }

  .about-main-right .description2 {
    font-size: 12px;
    width: 186px;
  }
}

/*@media (max-width: 500px) {
    header .mobile {
    display: block;

  }

  header nav {
    display: none;
    background: blue;
    height: auto;
    width: 80%;
  }

  header nav a {
    float: none;
  }

}*/

@media (max-width: 450px) {

  header .mobile {
    display: block;
    position: initial;
  }

  header .mobile img {
    display: block;
    position: absolute;
    height: 52px;
    top: 0;
    right: 5px;
  }

  header .burger-ar {
    display: none;
    color: #000;
    font-weight: bold;
  }
  
  header nav a.active {
    border-top: 0px solid #42bf24;
  }

  header nav {
    display: none;
    background: #79826ffc;
    height: auto;
    width: 100%;
    /*z-index: 1;*/
  }

  header nav a {
    float: none;
  }

  header .text {
    left: 50px;
    top: 60px;
  }

  header .welc {
    /*font-size: 36px;*/
    margin-top: -12px;
  }

  header .I_am_UX {
    /*font-size: 18px;*/
    margin-top: 15px;
  }

  header .mouse {
    text-align: inherit;
    padding-top: 15px;
    margin-left: 4px;
  }

  header .mouse-arrow {
    text-align: inherit;
  }

  #about {
    height: 625px;
  }

  #about .about-top {
    height: 85px;
  }

  #about .about-top2 {
    height: 76px;
  }

  #about .about-top3 div {
    font-size: 16px;
  }

  #about .about-top3 span {
    font-size: 26px;
    margin-left: 5px;
  }

  .about-main-left {
    width: 260px;
    top: 5px;
    left: 15px;
    width: 80%;
  }

  .about-main-left .ltl-intro {
    font-size: 20px;

  }
  .about-main-left .ltl-intro span {
    font-size: 40px;
    margin-top: -15px;
  }

  .about-main-left .description {
    font-size: 12px;
    width: 90%;
    padding: 0 0 10px 20px;
  }

  .about-main-left .quote {
    font-size: 13px;
  }

  .about-main-right {
    top: 190px;
    width: 365px;
    right: 20px;
  }
  .about-main-right .quote2 {
    font-size: 18px;
  }

  .about-main-right .description2 {
    width: 160px;
    float: left;
    text-align: left;
    padding-top: 0;
  }
}

@media (max-width: 320px) {

  
  header .text {
    left: 30px;
    /*top: 60px;*/
  }

  #about .about-top {
    height: 65px;
  }

  #about .about-top2 {
    height: 56px;
  }

  #about .about-top3 div {
    font-size: 14px;
  }

  #about .about-top3 span {
    font-size: 20px;
    margin-left: 5px;
  }

  .about-main-left {
    width: 94%;
  }
  
  .about-main-left .description {
    font-size: 12px;
    width: 93%;
    padding: 0 0 5px 15px;
  }

  .about-main-left .quote {
    font-size: 13px;
  }

  .about-main-right {
    top: 205px;
    width: 285px;
  }
  .about-main-right .quote2 {
    font-size: 16px;
  }

  .about-main-right .description2 {
    width: 120px;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

